@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(159, 2, 250); /* your color */
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #312e81;
  --secondary: #FF6584;
  --text: #222222;
  --bg: #ffffff;
}
